<%- include ('../layoutsAdmin/adminheader') %>
<%- include ('../layoutsAdmin/adminSideBarhead') %>

<style>
    .white-bg {
        background-color: white !important;
    }

    .card {
        background-color: white;
    }
</style>
<div class="main-panel" style="background-color: white;">
    <div class="content-wrapper col-lg-12" style="background-color: white;">
        <div class="page-header pt-5" style="background-color: white;">
            <h3 class="page-title d-flex align-items-center">
                <span class="page-title-icon btn-gradient-primary text-white mr-2">
                    <i class="mdi mdi-receipt menu-icon"></i>
                </span>
                Order Details
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>
                        <button class="btn btn-animated" onclick="location.href='/admin/orderList'">Back to orders</button>
                    </li>
                </ul>
            </nav>
        </div>

        <section class="order-detail spad" style="background-color: white;">
            <div class="container" style="background-color: white;">
                <div class="row">
                    <% if (order) { %>
                    <div class="col-lg-6 col-md-6">
                        <!-- Order Details -->
                        <div class="order-summary">
                            <div class="card mb-4" style="border: none; background-color: white;">
                                <div class="card-body">
                                    <h4 class="card-title">Order Details</h4>
                                    <p class="card-text">
                                        <span class="fw-bold">Order ID:</span> <%= order.orderId %><br>
                                        <span class="fw-bold">Order Date:</span> <%= order.date.toLocaleDateString() %><br>
                                        <span class="fw-bold">Total Amount:</span> ₹ <%= order.totalPrice %><br>
                                        <span class="fw-bold">Payment Method:</span> <%= order.paymentMethod %><br>
                                        <span class="fw-bold">Customer Name:</span> <%= order.userId.name %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <!-- Delivery Address -->
                        <div class="card mb-4" style="border: none; background-color: white;">
                            <div class="card-body">
                                <h4 class="card-title">Delivery Address</h4>
                                <p class="card-text">
                                    <span class="fw-bold">Name:</span> <%= order.address.name %><br>
                                    <span class="fw-bold">Email:</span> <%= order.userId.email %><br>
                                    <span class="fw-bold">Mobile:</span> <%= order.address.phone %><br>
                                    <span class="fw-bold">Address:</span> <%= order.address.house %>, <%= order.address.city %>, <%= order.address.district %>, <%= order.address.state %>, <%= order.address.pincode %>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Order Items -->
                    <div class="container" style="background-color: white;">
                        <h5 class="mt-3">Items :</h5>
                        <div class="row" id="orderItems">
                            <% order.items.forEach(item => { %>
                                <div class="col-md-6 mb-4">
                                    <div class="card" style="border: none; background-color: white;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <a href="#">
                                                        <img src="/productimages/<%= item.image %>" alt="<%= item.productName %>" class="img-fluid">
                                                    </a>
                                                    <h5 class="mt-2"><%= item.productName %></h5>
                                                    <p>Category: <span style="color: teal;"><%= item.categoryName %></span></p>
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Quantity : <%= item.quantity %></p>  
                                                    <p>Price : &#8377;<%= (item.price * item.quantity).toFixed(2) %></p>
                                                    <p>Final Price : &#8377;<%= (item.finalPrice * item.quantity).toFixed(2) %></p>

                                                    <p id="status-item-<%= item._id %>">
                                                        <span>Status : </span><span class="status-<%= item.itemStatus.toLowerCase() %>"><%= item.itemStatus %></span>
                                                    </p>
                                                    <% if (item.reason) { %>
                                                        <p>Reason : <%= item.reason %></p>
                                                    <% } %>
                                                    <p>Change Status :
                                                        <select class="form-control mb-3"
                                                                onchange="handleStatusChange('<%= order._id %>', '<%= item._id %>', this.value, '<%= item.itemStatus %>')"
                                                                <%= (item.itemStatus === 'Returned' || item.itemStatus === 'Cancelled' || item.itemStatus === 'Delivered' || item.itemStatus === 'Pending') ? 'disabled' : '' %>>
                                                            <% if (item.itemStatus === 'Return Pending') { %>
                                                                <option value="" disabled selected>Select Action</option>
                                                                <option value="Approve" <%= item.itemStatus === 'Returned' ? 'disabled' : '' %>>Approve</option>
                                                            <% } else { %>
                                                                <option value="Ordered" disabled <%= item.itemStatus === 'Ordered' ? 'selected' : '' %> <%= item.itemStatus === 'Delivered' ? 'disabled' : '' %>>Ordered</option>
                                                                <option value="Shipped" <%= item.itemStatus === 'Shipped' ? 'selected' : '' %> <%= item.itemStatus === 'Delivered' ? 'disabled' : '' %>>Shipped</option>
                                                                <option value="Delivered" <%= item.itemStatus === 'Delivered' ? 'selected' : '' %> <%= item.itemStatus === 'Delivered' ? 'disabled' : '' %>>Delivered</option>
                                                                <option value="Cancelled" disabled <%= item.itemStatus === 'Cancelled' ? 'selected' : '' %> <%= item.itemStatus === 'Delivered' ? 'disabled' : '' %>>Canceled</option>
                                                                <option value="Returned" disabled <%= item.itemStatus === 'Returned' ? 'selected' : '' %> <%= item.itemStatus === 'Delivered' ? 'disabled' : '' %>>Returned</option>
                                                            <% } %>
                                                        </select>
                                                    </p>                                                                
                                                </div>                                                            
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                    <% } else { %>
                    <div class="col-lg-12">
                        <p><%= error %></p>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>
    </div>
</div>


<style>
    .btn-animated {
    background-color: #FFBA00;
    border: 2px solid #FF6C00;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn-animated:hover {
    background-color: #FF6C00;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.btn-animated:active {
    transform: translateY(0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-animated::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(255, 108, 0, 0.3);
    transition: all 0.3s ease;
    border-radius: 4px;
    z-index: 0;
}

.btn-animated:hover::before {
    width: 100%;
}

</style>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

 
 <script>
    function handleStatusChange(orderId, itemId , status ,itemStatus){
     
        if(itemStatus === 'Return Pending'){
            confirmUpdateReturnStatus(orderId, itemId, status);
        }else{
            confirmUpdateOrderStatus(orderId, itemId, status);
        }
    }

    function confirmUpdateOrderStatus(orderId, itemId, status){
        Swal.fire({
            title: 'Are You Sure ?',
            text: `Do you want to change the status to ${status}?`,
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, change it!',
            cancelButtonText: 'No, cancel!',
        }).then((result) => {
            if (result.isConfirmed) {
                updateOrderStatus(orderId, itemId, status);
            }
        });
    }

    function updateOrderStatus(orderId, itemId, status){
        axios.post('/admin/updateOrderStatus',{ orderId, itemId, currentStatus: status})
        .then(response => {
            const { status, paymentStatus } = response.data;
            const statusElement = document.getElementById(`status-item-${itemId}`);
            if(statusElement){
                const statusText = status ? status.toLowerCase() : '';
                statusElement.innerHTML = `<span>Status : </span><span class="status-${statusText}">${statusText}</span>`;
            }
            Swal.fire({
                    icon: 'success',
                    title: 'Status Updated',
                    text: `The status has been updated`,
                    timer: 1500,
                    showConfirmButton: false,
                }).then(() => {
                    window.location.reload();
                });
            })
            .catch(error => {
                console.error('Error updating order status:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'There was an error updating the status.',
                    timer: 1500,
                    showConfirmButton: false,
                    customClass: {
                        title: 'small-title',
                        text: 'small-text'
                    }
                });
            });
    }

    
    function confirmUpdateReturnStatus(orderId, itemId, status) {
        Swal.fire({
            title: 'Are you sure?',
            text: `Do you want to change the return status to ${status}?`,
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, change it!',
            cancelButtonText: 'No, cancel!',
        }).then((result) => {
            if (result.isConfirmed) {
                updateReturnStatus(orderId, itemId, status);
            }
        });
    }

    function updateReturnStatus(orderId, itemId, status){
        axios.post('/admin/returnApproval',{ orderId, itemId, status})
        .then(response => {
            const { status, paymentStatus} = response.data;
            const statusElement = document.getElementById(`status-item-${itemId}`);
            if(statusElement){
                const statusText = status ? status.toLowerCase() : '';
                statusElement.innerHTML = `<span>Status : </span><span class="status-${statusText}">${statusText}</span>`;
            }
            Swal.fire({
                icon: 'success',
                    title: 'Return Status Updated',
                    text: `The return status has been updated`,
                    timer: 1500,
                    showConfirmButton: false,
                }).then(() => {
                    window.location.reload();
                });
        })
        .catch(error => {
                console.error('Error updating return status:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'There was an error updating the return status.',
                    timer: 1500,
                    showConfirmButton: false,
                    customClass: {
                        title: 'small-title',
                        text: 'small-text'
                    }
                });
            });
    }
 </script>
 
  

<%- include ('../layoutsAdmin/adminfooter') %>
<%- include ('../layoutsAdmin/adminSideBarfooter') %>


 